@charset "utf-8";
@import url(font.css);

/* reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout:none;
}
body {
	user-select:none;
	-webkit-user-select: none;
	-moz-user-select:none;
}

html,
body {
	height: 100%
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
select {
	margin: 0;
	padding: 0;
	font:inherit;
}
textarea {margin:0; padding:0;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
    /* letter-spacing: .01rem; */
}

body {
	background-color: #fff;
	font: 1rem/1.2 'Noto Sans', Dotum, Gulim, Sans-serif;
	/* letter-spacing: 0rem; */
	letter-spacing:-0.05em;
	color: #222;
	font-weight:300;
	-webkit-text-size-adjust: none;
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed
}

hr {
	display: none
}


video,
audio,
object,
embed,
iframe {
	max-width: 100%
}

img {
	width:100%;
	max-width:100%;
	height: auto;
	vertical-align: top
}

em,
i,
address {
	font-style: normal
}

a {
	text-decoration:none;
}
a:* {text-decoration:none;}
a:link, a:visited, a:hover, a:active {color:#222;}

legend,
caption {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px)
}

h1,
h2,
h3,
h4,
h5,
strong,
b,
th {
	font-weight: 500
}

pre {
	word-break: break-all;
	white-space: pre-line
}

:focus {
	outline: 0
}

/* form */
input,
textarea,
button,
select {
	border-radius: 0;
	/* font-size: 1.2em; */
	font-family: 'Noto Sans', Dotum, Gulim, Sans-serif;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	-webkit-appearance: none
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	border: 1px solid #999;
}

input[type="radio"] {
}

input[type="checkbox"] {
	/* width: 1rem;
	height: 1rem;
	border: 1px solid rgba(0, 0, 0, 0); */
	/* -webkit-appearance: none;
	appearance: none;
	position:relative;
	vertical-align:top; */
}
input[type="checkbox"]:after{
	/* content: "";
	display:block;
	width:4vw;
	height:4vw;
	border:1px solid #bbb; */
}
input[type="checkbox"]:checked:after{
	/* background-image:url('../images/check.png');
	background-repeat:no-repeat;
	background-size:95%;
	background-position:60% 45%; */
}
input[type="checkbox"].red:after{
	/* content: "";
	display:block;
	width:4.5vw;
	height:4.5vw;
	border:1px solid #ff3434; */
}
input[type="checkbox"].red:checked:after{
	/* background-color:#ff3434; */
}
input[type="checkbox"] + label{
	/* color:#333;
	margin-left:2vw;
	letter-spacing:-.1vw; */
}
input[type="checkbox"].red + label{
	/* color:#ff3434;
	font-size:1.3em;
	top:0.2vw;
	margin-left:2vw; */
}

input:checked[type="checkbox"],
input:checked[type="radio"] {
	/* background-color: transparent */
}

input[type="number"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="phone"],
select,
button {
	-webkit-appearance: none;
	appearance: none;
	max-width: 100%;
	/* height: 18vw; */
	line-height: inherit;
	/* padding: 1rem 0 0;
	border-bottom: 1px solid #bbb;
	font-size: 1.16em */
}
textarea {-webkit-appearance: none;
	appearance: none;
	max-width: 100%;}

select{/* background:url('../images/arrow.png')no-repeat;background-size:2vw;background-position:95% 63%; */}

input::-webkit-input-placeholder {
	padding-top: .3rem;
	font-weight: 400;
	color: #999999;
	word-break:keep-all;
}

input::-webkit-input-placeholder {
	word-break:keep-all;
}

input[type="text"] {width:100%; max-width:100%; height:40px; border:0 none; border-bottom:2px solid #a7a7a7; vertical-align:middle;}
input[type="phone"] {width:100%; max-width:100%; height:40px; border:0 none; border-bottom:2px solid #a7a7a7; vertical-align:middle;}
input[type="tel"] {width:100%; max-width:100%; height:40px; border:0 none; border-bottom:2px solid #a7a7a7; vertical-align:middle;}
input[type="number"] {width:100%; max-width:100%; height:40px; border:0 none; border-bottom:2px solid #a7a7a7; vertical-align:middle;}
input[type="checkbox"] {width:20px; height:20px;}
input[type="radio"] {width:20px; height:20px; border-radius:100%;}


/*
.select {position:relative; display:block;}
.select::after {content:""; display:block; position:absolute; right:10px; top:50%; width:5px; height:5px; border:solid black; border-width:0 2px 2px 0; -webkit-transform:rotate(-45deg) translateY(-50%); -ms-transform:rotate(-45deg) translateY(-50%); transform:rotate(-45deg) translateY(-50%); z-index:2;}
.select::focus::after {background-color: #ff6600;}
*/
select {position:relative; box-sizing:border-box; width:100%; height:40px; padding-left:0.5em; background-color:#fff; font-size:16px; vertical-align:middle;}
select::after {content:""; display:block; position:absolute; right:10px; top:50%; width:5px; height:5px; border:solid black; border-width:0 2px 2px 0; -webkit-transform:rotate(-45deg) translateY(-50%); -ms-transform:rotate(-45deg) translateY(-50%); transform:rotate(-45deg) translateY(-50%); z-index:2;}
select::-ms-expand { display:none; }


/* z-index */

.ui_index {} /* 인덱스성 페이지 */
.ui_page {z-index:1000;} /* 상세페이지 등 */
.dim {z-index:1200;} /* 딤처리 */
.ui_popup {z-index:1500;} /* 전체팝업 */
.modal {z-index:1500;} /* 모달팝업 */
.modal_default {z-index:1500;} /* 모달팝업 기본 */
.ui_agree {z-index:2000;} /* 약관 설명 */
.ui_page.agree {z-index:2000;} /* 약관 설명 */
.popup.join {z-index:1500;} /* 약관 모달팝업 */