@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */

/* skipNav */
#skipNav a{display:block;overflow:hidden;height:0;line-height:24px;text-align:center;background:#000;color:#fff;}
#skipNav a:focus{height:auto;}

/* reset css */
html,body{margin:0;padding:0;height:100%;}
body{font:13px/1.5 "Nanum Gothic", "돋움", Dotum, "굴림", Gulim, sans-serif;color:#666; background-color:#fff; letter-spacing:-.5px;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th{font:13px/1.5 "Nanum Gothic", "돋움", Dotum, "굴림", Gulim, Arial, sans-serif;color:#666;vertical-align:middle; letter-spacing:-.5px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse;}
ol,ul,li{list-style:none;}
hr, legend, caption, .skip{position:absolute;overflow:hidden;line-height:0.01%;font-size:0.01%;width:0;height:0;}
img,fieldset{max-width:100%;border:0 none;vertical-align:middle;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a{color:#767676;text-decoration:none;}

/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"]{height:16px;padding:2px 0 1px;border:1px solid #cfcfcf;line-height:16px;text-indent:5px;}
input[type="radio"],
input[type="checkbox"]{width:13px;height:13px;}
input[type="file"]{border:1px solid #cfcfcf;background:#fff;}
textarea{overflow:auto;overflow-x:hidden;border:1px solid #cfcfcf;background:#fff;resize:none;}
select{max-width:100%;border:1px solid #cfcfcf;}

/* Button */
button{overflow:visible;margin:0;padding:0;border:0;background:none;white-space:nowrap;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
button span{position:relative;}

/* Layout */
#wrap{height:100%; overflow: hidden;}
#header{height:136px; background:#19c4cf}
#header p{height:36px; padding:5px 15px; background:#3e3e3e; box-sizing:border-box; font-size:16px; letter-spacing:3px; font-weight:bold; color:#fbfbfb;}
#header h1{height:73px; padding:25px 20px 0; border:1px solid #26a5ad; font-size:14px; font-weight:bold; color:#fff;}
#header h1 img{width:220px;}
#header h1 em{margin-left:10px; vertical-align:middle;}

#container{height:100%;}
#container .treeWrap{width:35%; height:96%; padding-bottom:4%; float:left; overflow-x:hidden; overflow-y:auto; background:url('tree_bg.png') right repeat-y}
#container .contents{height:100%; margin-left:35%; background-color:#333; text-align:center;}
#container .contents iframe {margin-top:20px;width:375px; height:700px;}

/* Nav */
.htmlURL{font-size:18px; font-weight: bold; color:#242424; padding:20px 20px 15px; margin:20px; background:#fbfbfb; border:1px solid #e2e2e2; border-radius: 6px; word-wrap: break-word;}
.treeMenu{padding:20px; margin:0 20px; background:#fbfbfb; border:1px solid #e2e2e2; border-radius: 6px;}
.treeMenu>li{padding:0;font-size:0;}
.treeMenu li a{padding:0 3px 2px;display:inline-block; zoom:1; *display:inline; color:#333; font-size:12px; line-height: 14px;}
.treeMenu li a span {padding-left:7px;}
.treeMenu li a span.on {color:red; font-weight:bold;}
.treeMenu li a.active{background:#b5deff; border:1px solid #a1ceed;}
.treeMenu em{display:inline-block; zoom:1; *display:inline;}
.treeMenu em.collaps{width:18px; height:18px; vertical-align: middle; background:url('plus.gif') 0 -2px no-repeat; cursor:pointer; }
.treeMenu li.active>em.collaps{background:url('minus.gif') 0 -2px no-repeat;}
.treeMenu em.folder{width:18px; height:24px; vertical-align: middle; background:url('folderClosed.gif') no-repeat;}
.treeMenu li.active>em.folder{background:url('folderOpen.gif') no-repeat;}
.treeMenu li em.no_folder{width:18px; height:24px; margin-left:17px; background:url('leaf.gif') 0 0 no-repeat; vertical-align: middle;}
.treeMenu li ul{margin:0 0 5px 20px; display:none;}
.treeMenu li.active>ul{display:block;}
.treeMenu li ul li{}
.treeMenu li.no_work > a{color:#d31616 !important;}
.treeMenu li a.update{color:#22c955; font-weight:bold;}

.message{width:100%; margin-top:-35px; position:fixed; left:0; top:50%; text-align:center; font-size:50px; font-weight:800; color:#e23636; display:none;}
/* contents */





