<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>PASS 자동차</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/passcar.css">
	<script src="../../js/jquery-1.12.4.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/jquery.ui.touch-punch.min.js"></script>



</head>
<body>


<div class="innerBoxH innerBoxV">

	<div class="table1_list">
		<dl class="table1_item"><!-- 기본 샘플 높이값 56 -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span></dd>
		</dl>

		<dl class="table1_item line"><!-- class line 추가 상단에 라인 들어감 -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span></dd>
		</dl>
		
		<dl class="table1_item"><!-- dd on 추가 텍스트 색상 다름  -->
			<dt><span class="tit">타이틀</span></dt>
			<dd class="on"><span class="txt">텍스트</span></dd>
		</dl>
		
		<dl class="table1_item"><!-- 텍스트 색상 위치 변경 span의 class 교환  ( tit <-> txt ) -->
			<dt><span class="txt">타이틀</span></dt>
			<dd><span class="tit">텍스트</span></dd>
		</dl>

		<dl class="table1_item"><!-- 버튼 추가 -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span><button type="button" class="btn">수정</button></dd>
		</dl>
	</div>
<br /><br />
-----
<br /><br /><br /><br />

	<div class="table3_list">
		<dl class="table3_item"><!-- 높이값 50 -->
			<dt><span class="tit">전손/침수</span></dt>
			<dd class="on"><span class="txt">없음</span></dd>
		</dl>
		<dl class="table3_item">
			<dt><span class="tit">용도이력변경</span></dt>
			<dd><span class="txt">없음</span></dd>
		</dl>
		<dl class="table3_item">
			<dt><span class="tit">소유자변경</span></dt>
			<dd><span class="txt">2회</span></dd>
		</dl>
		<dl class="table3_item">
			<dt><span class="tit">내차피해</span></dt>
			<dd><span class="txt">1회</span></dd>
		</dl>
		<dl class="table3_item">
			<dt><span class="tit">타차가해</span></dt>
			<dd><span class="txt">없음</span></dd>
		</dl>
	</div>

	<!-- <div class="table1_list">
		<dl class="table1_item">
			<dt><span class="tit">차량번호</span></dt>
			<dd><span class="txt">12가1234</span></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">최초등록일</span></dt>
			<dd class="on"><span class="txt">2018년 3월</span></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">연식</span></dt>
			<dd><span class="txt">2018년식</span></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">연비</span></dt>
			<dd><span class="txt">14.1km/L (2등급)</span></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">배기량</span></dt>
			<dd><span class="txt">2,199cc</span><button type="button" class="btn">수정</button></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">엔진타입</span></dt>
			<dd><span class="txt">2.2 디젤 프리미엄 스페셜</span><button type="button" class="btn">수정</button></dd>
		</dl>
		<dl class="table1_item">
			<dt><span class="tit">연료</span></dt>
			<dd><span class="txt">디젤</span><button type="button" class="btn">수정</button></dd>
		</dl>
		<dl class="table1_item line">
			<dt><span class="tit">연료</span></dt>
			<dd><span class="txt">디젤</span><button type="button" class="btn">수정</button></dd>
		</dl>
	</div> -->




</div>

<script src="../../js/temp.js"></script>
</body>
</html>