<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>PASS 자동차</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/passcar.css">
	<script src="../../js/jquery-1.12.4.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/jquery.ui.touch-punch.min.js"></script>

</head>
<body>
<div class="innerBoxH innerBoxV">


	<div class="list1_tit">리스트제목</div>
	<div class="list1_list">
		<dl class="list1_item"><!-- 기본 샘플 -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span></dd>
		</dl>

		<dl class="list1_item on"><!-- class on 추가 , 다음 스텝에서 되돌아왔을때 클릭했던것 표시. -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span></dd>
		</dl>

		<dl class="list1_item line"><!-- 상단 라인 -->
			<dt><span class="tit">타이틀</span></dt>
			<dd><span class="txt">텍스트</span></dd>
		</dl>

		<dl class="list1_item line">
			<dt class="logo"><img src="https://via.placeholder.com/48x32?text=logo"></dt>
			<dd><span class="tit">타이틀</span></dd>
			<dd><span class="txt">텍스트</span></dd>
		</dl>
	</div>

<br /><br /><br />
-----
<br /><br /><br />


	<div class="list1_tit">인기모델</div>
	<div class="list1_list">
		<dl class="list1_item line">
			<dt><span class="tit">모닝</span></dt>
			<dd><span class="txt">48,100</span></dd>
		</dl>
		<dl class="list1_item line">
			<dt><span class="tit">스파크</span></dt>
			<dd><span class="txt">37,712</span></dd>
		</dl>
		<dl class="list1_item line">
			<dt><span class="tit">레이</span></dt>
			<dd><span class="txt">27,102</span></dd>
		</dl>
		<dl class="list1_item line">
			<dt><span class="tit">마티즈</span></dt>
			<dd><span class="txt">3,456</span></dd>
		</dl>
		<dl class="list1_item line">
			<dt><span class="tit">트위지</span></dt>
			<dd><span class="txt">1,345</span></dd>
		</dl>
		<dl class="list1_item line">
			<dt><span class="tit">포투</span></dt>
			<dd><span class="txt">3,456</span></dd>
		</dl>

		<dl class="list1_item line on">
			<dt><span class="tit">현대</span></dt>
			<dd><span class="txt">1,123</span></dd>
		</dl>

		<dl class="list1_item line">
			<dt class="logo"><img src="https://via.placeholder.com/48x32?text=logo"></dt>
			<dd><span class="tit">현대</span></dd>
			<dd><span class="txt">1,123</span></dd>
		</dl>
	</div>



</div>

<script src="../../js/temp.js"></script>
</body>
</html>