<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>PASS 자동차</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/passcar.css">
	<script src="../../js/jquery-1.12.4.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/jquery.ui.touch-punch.min.js"></script>
</head>

<body>
<div class="innerBoxH innerBoxV">

<div class="list-type2">
	<ul class="col3">
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">글자수제한</span></label></li>
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">다중선택1</span></label></li>
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">다중선택2</span></label></li>
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">다중선택3</span></label></li>
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">다중선택4</span></label></li>
		<li><label><input type="checkbox" name="name"><span class="checkmark"></span><span class="txt">다중선택5</span></label></li>
	</ul>

	<br /> ----- <br /><br />

	<ul class="col2">
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
	</ul>
	
	<br /> ----- <br /><br />

	<ul class="col3">
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><span class="checkmark"></span></li>
		<li><span class="checkmark"></span></li>
	</ul>
	
	
	<br /> ----- <br /><br />

	<ul class="col4">
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
	</ul>
	
	<br /> ----- <br /><br />

	<ul class="col5">
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">경유</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark"></span><span class="txt">휘발유</span></label></li>
	</ul>

	<br /> ----- <br /><br />

	<ul class="col3 option">
		<li><label><input type="radio" name="name"><span class="checkmark blackbox"></span><span class="txt">블랙박스</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark navi"></span><span class="txt">네비게이션</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark sunroof"></span><span class="txt">선루프</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark rear"></span><span class="txt">후방카메라</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark sensor"></span><span class="txt">전/후방감지센서</span></label></li>
		<li><label><input type="radio" name="name"><span class="checkmark breakaway"></span><span class="txt">차선이탈방지</span></label></li>
	</ul>

</div>

</div>
<script src="../../js/temp.js"></script>
</body>
</html>