<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>PASS 자동차</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/passcar.css">
	<script src="../../js/jquery-1.12.4.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/jquery.ui.touch-punch.min.js"></script>
</head>

<body>
<div class="innerBoxH innerBoxV">


	<div class="after_wrap">
		<div class="tit">내차팔기는 이렇게 진행되요!</div>
		<div class="after_list">
			<dl class="after_item">
				<dt><span>1</span>차량조회</dt>
				<dd>차량번호를 입력하면 <br>차량에 대한 기본정보가 조회됩니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>2</span>차량등록</dt>
				<dd>주행거리, 옵션, 사진 등<br>차량에 대한 추가정보를 입력합니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>3</span>차량심사</dt>
				<dd>PASS 차량 심사는<br>최대 24시간 이내에 완료됩니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>4</span>차량견적 진행</dt>
				<dd>오전10시 – 오후5시까지<br>3일 동안 차량 견적을 진행합니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>5</span>딜러 선택 및 예약</dt>
				<dd>견적결과를 바탕으로 딜러를 선택하고<br>통화를 통해 방문예약을 진행합니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>6</span>상세견적 진행 및 검차</dt>
				<dd>직접 방문을 통해 검차를 진행하고<br>검차 결과를 공유합니다.</dd>
			</dl>
			<dl class="after_item">
				<dt><span>7</span>판매완료</dt>
				<dd>딜러에게 최종적으로 매입 서류를<br>작성하고 판매를 완료합니다.</dd>
			</dl>
		</div>
	</div>


</div>

<script src="../../js/temp.js"></script>
</body>
</html>