<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>PASS 자동차</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/passcar.css">
	<script src="../../js/jquery-1.12.4.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/jquery.ui.touch-punch.min.js"></script>
</head>

<body>
<div class="innerBoxH innerBoxV">

	<div class="index_addcar">
		<div class="inner">
			<!-- <p class="txt">이소애님 보유차량 <strong>3건</strong></p> -->
			<div class="btn">
				<button type="button" class="add">차량 추가</button>
				<!-- <button type="button" class="change">차 변경</button> -->
			</div>
		</div>
	</div>

	<br /><br />


	<div class="index_addcar">
		<div class="inner">
			<p class="txt">이소애님 보유차량 <strong>3건</strong></p>
			<div class="btn">
				<button type="button" class="add">차량 추가</button>
				<!-- <button type="button" class="change">차 변경</button> -->
			</div>
		</div>
	</div>

	<br /><br />

	<div class="index_addcar">
		<div class="inner">
			<p class="txt">이소애님 보유차량 <strong>3건</strong></p>
			<div class="btn">
				<button type="button" class="change">차 변경</button>
				<!-- <button type="button" class="change">차 변경</button> -->
			</div>
		</div>
	</div>

	<br /><br />

	<div class="index_addcar">
		<div class="inner">
			<dl class="item">
				<dt>판매차량</dt>
				<dd>총 3건이 진행중입니다.</dd>
			</dl>
			<div class="btn">
				<button type="button" class="add">차량 추가</button>
				<!-- <button type="button" class="change">차 변경</button> -->
			</div>
		</div>
	</div>

	<br /><br />

	<div class="index_addcar">
		<div class="inner">
			<p class="txt">이소애님 보유차량 <strong>3건</strong></p>
			<div class="btn">
				<button type="button" class="add">차량 추가</button>
				<!-- <button type="button" class="change">차 변경</button> -->
			</div>
		</div>
	</div>
	<div class="index_car_count">
		<dl class="item">
			<dt><span>판매차량</span></dt>
			<dd>총 <strong>3건</strong>이 등록되었습니다..</dd>
		</dl>
	</div>

</div>
test123


<script src="../../js/temp.js"></script>
</body>
</html>